#view{
    border:2px  solid green;
    display:bold;
    padding:2px; 

}
body{
    border:5px solid blue;
    width:auto;
    height:auto;
    text-align:center;
    padding:10px;
}
.button{
     display:inline-block;
    margin:5px;
    border :2px solid ;
    width:100px;
    height:30px;
}
form{
    text-align:left;
}
.selectpicker{
    width: 220px;
border: 1px solid #CCC;
background-color: #FFF;
padding:5px;
height:34px;
font-size-adjust:auto;
}